# Devices

## World Map of Devices
<%= url 'devices/world_map' %>

<%= `ruby generate_code.rb devices/world_map` %>

Returns an array with of summarized device objects for displaying on the world map.

<aside class='notice'>This endpoint is not generated at run-time, therefore you will not be able to use parameters to paginate, search or sort the results. We recommend that you filter the json on the client-side.</aside>

<aside class='notice'>
  You can filter attributes with Ransack, see
  <a href="#basic-searching">Basic searching</a>
</aside>


Parameter | Example | Description
--------- | ------- | -----------
**id**\*<br/>*integer* | 1619 | Unique ID of the device
**name**<br/>*string* | Long Lane, SE1 (new) | Name of the device
**description**<br/>*string* | An SCK in Southwark | Description of the device
**owner_id**\*<br/>*integer* | 848 | Unique ID of the device's owner
**owner_username**<br/>*string* | dankarran | Unique username of the device's owner
**latitude**<br/>*decimal* | 51.4996843 | Latitude of the device
**longitude**<br/>*decimal* | -0.086883400000033 | Longitude of the device
**city**<br/>*string* | Southwark | City of the device
**country_code**<br/>*string* | GB | Alpha-2 Country Code of the device
**kit_id**<br/>*integer* | 3 | Kit that the device belongs to
**state**<br/>*string* | not_configured | See [state values](#possible-values-for-state) table below
**system_tags**<br/>*string array* | ['new', 'indoor'] | See [system_tag values](#possible-values-for-system_tag) table below
**data**<br/>*object* | {<br/> 7: 50.0,<br/>7_raw: 0,<br/>recorded_at: "2015-04-30T17:56:04.432Z",<br/>calibrated_at: "2015-04-30T17:56:04.432Z",<br/>added_at: "2015-04-30T17:56:04.432Z" <br/>} | The latest readings stored for the device. Numerical keys are sensor ids. <br/><br/>So 7 is the calibrated reading of `/v0/sensors/7`<br/><br/>`7_raw` is what was posted to the platform.
**added_at**\*<br/>*datetime* | "2015-04-30T17:56:04.432Z" | When the device was added to the platform

### Possible values for state

Key | Value
--- | -----
**not_configured** | Device has been added to the platform but we do not have its MAC address
**never_published** | Device has been added, we have the MAC but no readings have been received
**has_published** | At least one reading has been recorded, submitted and saved to the platform
**archived** | The device has been temporarily removed from the platform

### Possible values for system_tag

String | Description
--- | -----
**new** | The device was added to the platform less than 7 days ago
**indoor** | The device is inside
**outdoor** | The device is outside

## Add a Device
<%= url 'devices', 'POST' %>

<%= `ruby generate_code.rb devices POST` %>

You must be authenticated to add a device. The currently authenticated user will be registered as the `owner` of the new device.

Parameter | Required? | Description
--------- | ------- | -----------
**name**<br/>*string* | ✓ | Name of the device
**description**<br/>*string* | | Description of the device
**mac_address**<br/>*string* | ✓ | MAC Address of the device
**kit_id**<br/>*integer* | | Unique ID of the [kit](#kits) for the device
**exposure**<br/>*string* | | Either `indoor` or `outdoor`
**latitude**<br/>*decimal* | | Latitude of the device
**longitude**<br/>*decimal* | | Longitude of the device

## Update a Device
<%= url 'devices/:id', 'PATCH' %>

<%= `ruby generate_code.rb devices/1616 PATCH` %>

You must be authenticated and registered as the device's `owner` if you wish to update a device.

Parameter | Example | Description
--------- | ------- | -----------
**id**<br/>*integer* | 2 | Unique ID of the device
**name**<br/>*string* | Beach SCK | Name of the device
**description**<br/>*string* | A Smart Citizen on the Beach | Description of the device
**mac_address**<br/>*string* | 00:1C:B3:09:85:15 | MAC Address of the device
**kit_id**<br/>*integer* | 3 | Unique ID of the [kit](#kits) for the device
**user_tags**<br/>*string* | | A comma-seperated list of tag names [more info](#adding/editing-a-device's-tags)
**exposure**<br/>*string* | | Either `indoor` or `outdoor`
**latitude**<br/>*decimal* | 41.401108 | Latitude of the device
**longitude**<br/>*decimal* | 2.215319 | Longitude of the device

## Get a Device
<%= url 'devices/:id' %>

<%= `ruby generate_code.rb devices/1616` %>

Returns a single device. Example of a complete response - [http://api.smartcitizen.me/v0/devices/1616](http://api.smartcitizen.me/devices/1616)

Parameter | Example | Description
--------- | ------- | -----------
**id**<br/>*integer* | 2 | Unique ID of the device
**owner**<br/>*object* | [user](#get-a-user) | The user that owns the device
**name**<br/>*string* | Beach SCK | Name of the device
**description**<br/>*string* | A Smart Citizen on the Beach | Description of the device
**status**<br/>*string* | new | `new` if never updated,<br/>`online` if updated less than 10 minutes ago,<br/> `offline` if updated more than 10 minutes ago
**added_at**<br/>*datetime* | 2015-02-02T15:59:48.109Z | When the device was added to the platform
**last_reading_at**<br/>*datetime* | 2015-02-02T15:59:48.109Z | When the device last posted a reading to the platform
**updated_at**<br/>*datetime* | 2015-02-02T15:59:48.109Z | When the device's attributes were last changed, not when it last posted data.
**data**<br/>*object* | [data-object](#data-object) | The latest data for the device *(see table below)*
**kit**<br/>*object* | [kit](#kits) | Information about the kit that the device is
**mac_address**<br/>*string* | 00:1C:B3:09:85:15 | Shown if current_user is authenticated and is owner of the device. MAC Address of the device

#### Data Object

Parameter | Example | Description
--------- | ------- | -----------
**recorded_at**<br/>*datetime* | 2015-02-11T10:03:36.653Z | When the device's data was recorded
**added_at**<br/>*datetime* | 2015-02-11T10:03:36.653Z | When the device's data was posted to the platform
**calibrated_at**<br/>*datetime* | 2015-02-11T10:03:36.653Z | When the device's data was calibrated by the platform
**firmware**<br/>*string* | *[IGNORE]* | Ignore for now
**location.ip**<br/>*string* | | Ignore for now
**location.exposure**<br/>*string* | `indoor` or `outdoor` | Where the device is located
**location.elevation**<br/>*integer* | 500 | Measured in metres
**location.latitude**<br/>*decimal* | 39.1529768625514 | Latitude
**location.longitude**<br/>*decimal* | -77.2663983320978 | Longitude
**location.geohash**<br/>*string* | dqcn9z86d7 | [Geohash explanation](http://www.bigfastblog.com/geohash-intro)
**location.city**<br/>*string* | Germantown | City where the device is
**location.country_code**<br/>*string* | US | Alpha-2 country code where the device is
**location.country**<br/>*string* | United States | Country name generated from `country_code`
**sensors**<br/>*array* | [[sensor](#sensors), [sensor](#sensors)] | An array of sensor objects, with the `value` (final calibrated reading) and `raw_value` (uncalibrated reading) injected into them.

## Get All Devices
<%= url 'devices' %>

<%= `ruby generate_code.rb devices` %>

Returns all devices, with the same data as [above](#get-a-device).

Parameter | Example | Description
--------- | ------- | -----------
**near**<br/>*string<br/>(lat,lng)* | 41.401108,<br/>2.215319 | When included, returns devices in order of distance from the coordinates

## Remove a Device
<%= url 'devices/:id', 'DELETE' %>

<%= `ruby generate_code.rb devices/10 DELETE` %>

You can only delete devices that you own. After a device is deleted with the API there will be a grace period in which you can contact support to reinstate a device if you have removed it in error. After this grace period has passed, the device and its data will be removed permanently from our databases and cannot be restored.
